.homepage{
    color: #04018A;
}

#welcome{
    position: absolute;
    width: 964px;
    height: 285px;
    left: 248px;
    top: 369px;

    font-family: "Rubik";
    src: url("Rubik-Regular.ttf");
    font-style: normal;
    font-weight: normal;
    font-size: 3vw;
    line-height: auto;
    display: flex;
    align-items: center;
    text-align: center;

    color: #04018A;
}

#about{
    position: absolute;
    width: 517px;
    height: 105px;
    left: 1122px;
    top: 690.92px;

    font-family: "Rosario";
    font-style: normal;
    font-weight: normal;
    font-size: 3vw;
    line-height: auto;
    display: flex;
    align-items: center;
    text-align: center;

    color: rgba(0, 0, 0, 0.85);

    transform: rotate(-90.00deg);
}

#about2{
    position: absolute;
    width: 607px;
    height: 104px;
    left: 833px;
    top: 920.85px;

    font-family: "Rubik";
    src: url("Rubik-Regular.ttf");
    font-style: normal;
    font-weight: normal;
    font-size: 3vw;
    line-height: auto;
    display: flex;
    align-items: center;
    text-align: center;

    color: #CB3030;

    mix-blend-mode: color-burn;
    transform: rotate(-0.08deg);
}

#everything{
    position: absolute;
    width: 449px;
    height: 479px;
    left: 83px;
    top: 264px;

    font-family: "Rubik";
    src: url("Rubik-Regular.ttf");
    font-style: normal;
    font-weight: normal;
    font-size: 3vw;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #301616;
}

.bg2{
    position: relative;
    width: 1936px;
    height: 1024px;
    left: -10px;
    top: 0px;
    margin:auto;

    background: radial-gradient(50% 50% at 50% 50%, #E5E5E5 0%, rgba(12, 235, 235, 0) 100%);
}

.bg3{
    position: relative;
    width: 1926px;
    height: 1024px;
    margin:auto;

    background: #AFF6BE;
}

#root{
    position: absolute;
    width: 1048.06px;
    height: 121.93px;
    left: 384.59px;
    top: 15px;
    
    font-family: "Rubik";
    src: url("Rubik-Regular.ttf");
    font-style: normal;
    font-weight: normal;
    font-size: 3vw;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
    
    transform: rotate(0.28deg);
}

#almamaters{
    position: absolute;
    width: 791px;
    height: 234px;
    left: 517px;
    top: 825px;

    font-family: "Rubik";
    src: url("Rubik-Regular.ttf");
    font-style: normal;
    font-weight: normal;
    font-size: 3vw;
    line-height: 26px;
    text-align: center;

    color: #000000;
}

#skills{
    position: absolute;
    width: 618px;
    height: 273px;
    left: 1231px;
    top: 498px;

    font-family: "Rubik";
    src: url("Rubik-Regular.ttf");
    font-style: normal;
    font-weight: normal;
    font-size: 3vw;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

#pp{
    position: absolute;
    width: 400px;
    height: 600px;
    left: 712px;
    top: 198px;
}

#contacts{
    position: absolute;
    width: 539px;
    height: 88px;
    left: 1279px;
    top: 200px;

    font-family: "Rubik";
    src: url("Rubik-Regular.ttf");
    font-style: normal;
    font-weight: normal;
    font-size: 3vw;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

#twitter{
    position: absolute;
    width: 115px;
    height: 111px;
    left: 1303px;
    top: 349px;
}

#line{
    position: absolute;
    width: 122px;
    height: 111px;
    left: 1488px;
    top: 349px;
}

#home{
    position: absolute;
    left: 123px;
    top: 800px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;


}

#gotoprojects{
    position: absolute;
    width: 482px;
    height: 143px;
    left: 248px;
    top: 569px;

    font-family: "Rubik";
    src: url("Rubik-Regular.ttf");
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-align: center;
    
}
#gmail{
    position: absolute;
    width: 141px;
    height: 111px;
    left: 1680px;
    top: 349px;
}

#root2{
    position: absolute;
    width: 1048.06px;
    height: 121.93px;
    left: 384.59px;
    top: 15px;
    
    font-family: "Rubik";
    src: url("Rubik-Regular.ttf");
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
    
    transform: rotate(0.28deg);
}

.bg4{
    position: absolute;
    width: 1936px;
    height: 1024px;

    background: url("projectbg.jpg");
    background-size:100%
}

#rensou{
    max-width:60%;
    height:auto;
    align-items: center;
    text-align: center;
}

#rensoubar{
    max-width:70%;
    height:auto;
    align-items: center;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#webabout {
    position: absolute;
    top: 600px;
    left: 540px;
    text-align: center;
}

.bg5{
    position: absolute;
    width: 1936px;
    height: 1024px;

    background: url("giniro.jpg");
    background-size:100%
}

.bgrikka{
    position: absolute;
    width: 1936px;
    height: 1024px;

    background: url("rikka.jpg");
    background-size:25%
}
 #center{
    text-align: center;
 }
